/* livvic-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/livvic-v14-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Livvic", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1158px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  padding-top: 48px;
  background-color: #014e56;
}
.header__sub-list--link {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__sub-list--link:hover {
  color: #f67e7e;
}
.header__btn-block--button {
  background-color: #012f34;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: inline-block;
  padding: 10px 33px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 24px;
  border: 2px solid #fff;
  background-color: transparent;
}
.header__btn-block--button:hover {
  border-radius: 24px;
  background-color: #fff;
  color: #002529;
}
.header__btn-block--button:disabled {
  border-radius: 10px;
  opacity: 0.25;
}
.header__btn-block, .header__sub-list {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item--logo {
  width: 127.958px;
  height: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__menu-item--menu {
  width: 20px;
  height: 17px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .header__menu-item {
    display: none;
  }
  .header__btn-block {
    display: block;
  }
  .header__item, .header__sub-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__sub-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-left: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .header__sub-list {
    margin-left: 80px;
  }
}
.intro {
  padding-top: 80px;
  padding-bottom: 197px;
  background-color: #014e56;
  background-image: url("../../../images/svg/intro-bg-img-2.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.intro__list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__title-item {
  margin-bottom: 18px;
}
.intro__title-item--title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
}
.intro__title-item--highlight {
  color: #f67e7e;
}
.intro__text-item {
  max-width: 457px;
  margin-left: auto;
  margin-right: auto;
}
.intro__text-item--text {
  color: #fff;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .intro {
    padding-top: 112px;
    padding-bottom: 256px;
  }
  .intro__title-item {
    margin-bottom: 24px;
  }
  .intro__title-item--title {
    color: #fff;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    max-width: 337px;
  }
}
@media screen and (min-width: 1440px) {
  .intro {
    padding-top: 133px;
    padding-bottom: 250px;
    background-image: url("../../../images/svg/intro-bg-img-1.svg"), url("../../../images/svg/intro-bg-img-2.svg");
    background-position: 0% 30%, 75% 100%;
  }
  .intro__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 123px;
       -moz-column-gap: 123px;
            column-gap: 123px;
  }
  .intro__title-item--title {
    color: #fff;
    font-style: normal;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    max-width: 542px;
    width: 100%;
    text-align: left;
  }
  .intro__text-item {
    max-width: 445px;
    margin-left: 0;
    margin-right: 0;
  }
  .intro__text-item--text {
    color: #fff;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 79px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  .intro__text-item--line {
    width: 50px;
    height: 4px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-color: #79c8c7;
  }
}
.services {
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url("../../../images/svg/services-bg-img.svg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-color: #012f34;
}
.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__title-block {
  width: 55%;
  margin-right: auto;
  margin-bottom: 56px;
}
.services__title-block--line {
  background-color: #f67e7e;
  width: 50px;
  height: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 32px;
}
.services__title-block--title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.services__cards-list {
  text-align: center;
}
.services__card {
  margin-bottom: 48px;
  text-align: center;
}
.services__card--img {
  margin-bottom: 16px;
}
.services__card--title {
  color: #f67e7e;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}
.services__card--text {
  color: #fff;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  max-width: 444px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .services__title-block {
    width: 59%;
    margin-left: 82px;
  }
  .services__cards-list {
    margin-left: auto;
    margin-right: auto;
  }
  .services__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 23px;
       -moz-column-gap: 23px;
            column-gap: 23px;
    text-align: left;
    margin-bottom: 32px;
  }
  .services__card--img {
    margin-bottom: 0;
  }
  .services__card--text {
    max-width: 478px;
  }
}
@media screen and (min-width: 1440px) {
  .services {
    padding-top: 140px;
    padding-bottom: 140px;
    background-position: 100% 100%;
  }
  .services__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 128px;
       -moz-column-gap: 128px;
            column-gap: 128px;
  }
  .services__title-block {
    max-width: 445px;
    margin-left: 0;
    width: 100%;
  }
  .services__title-block--title {
    color: #fff;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .services__card--title {
    margin-bottom: 16px;
  }
  .services__card--text {
    max-width: 445px;
  }
}
.feedback {
  padding-top: 140px;
  padding-bottom: 164px;
  background-color: #004047;
  background-image: url("../../../images/svg/feedback-bg-img-1.svg"), url("../../../images/svg/feedback-bg-img-2.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%, 100% 100%;
}
.feedback__title-block {
  text-align: center;
}
.feedback__title-block--title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.feedback__title-block--highlight {
  color: #79c8c7;
}
.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.feedback__item {
  padding-top: 84px;
  background-image: url("../../../images/svg/feedback-bg-card.svg");
  background-repeat: no-repeat;
  background-position: 50% 16%;
}
.feedback__item--text {
  color: #fff;
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 16px;
}
.feedback__item--client-name {
  color: #79c8c7;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 2px;
}
.feedback__item--client-job {
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 16px;
}

@media screen and (min-width: 652px) {
  .feedback__title-block, .feedback__item {
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .feedback__title-block {
    max-width: 932px;
  }
  .feedback__title-block--title {
    color: #fff;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
  .feedback__list {
    padding-top: 92px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .feedback__item--text {
    margin-bottom: 24px;
  }
  .feedback__item--client-job {
    margin-bottom: 32px;
  }
}
.about-intro {
  background-color: #014e56;
  padding-top: 80px;
  padding-bottom: 108px;
  background-image: url("../../../images/svg/about-svg-img/about-intro-bg-img.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.about-intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  text-align: center;
}
.about-intro__item {
  color: #fff;
}
.about-intro__item--title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}
.about-intro__item--text {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.about-intro__item--line {
  display: none;
  width: 50px;
  height: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #f67e7e;
}

@media screen and (min-width: 511px) {
  .about-intro {
    background-image: url("../../../images/svg/about-svg-img/about-intro-tablet-bg-img.svg");
  }
  .about-intro__item--text {
    max-width: 457px;
  }
}
@media screen and (min-width: 768px) {
  .about-intro {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  .about-intro__list {
    row-gap: 24px;
  }
  .about-intro__item--title {
    color: #fff;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }
}
@media screen and (min-width: 1100px) {
  .about-intro__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .about-intro__item--title {
    width: 350px;
    text-align: left;
  }
  .about-intro__item--text {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 700px;
    width: 600px;
  }
  .about-intro__item--line {
    display: block;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .about-intro {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .about-intro__item--title {
    line-height: 100px;
  }
  .about-intro__item--text {
    color: #fff;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    width: 730px;
  }
}/*# sourceMappingURL=main.css.map */