// FONTS

// Headings
@mixin h1_large($color) {
  font-style: normal;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}
@mixin h1_small($color) {
  font-style: normal;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
}
@mixin h2($color) {
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
@mixin h3($color) {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

// Body

@mixin body1($color) {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
@mixin body2($color) {
  font-style: normal;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

// BUTTONS

@mixin btn-normal-state-light {
  background-color: #012f34;
  color: $white;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  display: inline-block;
  padding: 10px 33px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  &:hover {
    border-radius: 24px;
    background-color: $white;
    color: $secondary-dark_green;
  }
  &:disabled {
    border-radius: 10px;
    opacity: 0.25;
  }
}
