// COLORS
$white: #fff;
$black: #000;

// Primary
$primary-midnight_green: #014e56;
$primary-light_coral: #f67e7e;
$primary-white: #e1e1e1;

// Secondary
$secondary-rapture_blue: #79c8c7;
$secondary-police_blue: #2c6269;
$secondary-deep_jungle_green: #004047;
$secondary-sacramento_state_green: #012f34;
$secondary-dark_green: #002529;


